.robot-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 350px;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  margin: 4px;
  background-color: aquamarine;
  border-radius: 6px;
}
h2 {
  margin: 0;
  padding: 0;
}
.robot-image-container {
  width: 90%;
  height: 50%;
  border-width: 3px;
  border-style: solid;
  display: flex;
  background-color: darkcyan;
}
.robot-image-container img {
  width: 100%;
  object-fit: cover;
  object-position: 0px -20px;
}
.robot-attributes {
  list-style: none;
  margin: 4px;
  padding: 0;
}
.delete-button {
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 3px;
}
