.main-robot-detail-container {
  display: flex;
  justify-content: center;
}
.robot-detail-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  margin: 10px;
  background-color: aquamarine;
  border-radius: 6px;
}
h2 {
  margin: 0;
  padding: 0;
}
.robot-detail-image-container {
  width: 90%;
  height: 70%;
  border-width: 3px;
  border-style: solid;
  display: flex;
  background-color: darkcyan;
}
.robot-detail-image-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.robot-attributes {
  list-style: none;
  margin: 4px;
  padding: 0;
}
